providers:
    - name: grok
      kind: grok
      api_key: ${GROK_API_KEY}
      model: grok-code-fast-1
      rate_limit:
        input_tpm: 1000000
        output_tpm: 1000000
        max_retries: 5
        base_delay: 10ms
    - name: anthropic
      kind: anthropic
      api_key: ${ANTHROPIC_API_KEY}
      model: claude-opus-4-6
      rate_limit:
        input_tpm: 50000
        output_tpm: 8000
        max_retries: 5
        base_delay: 10ms
    - name: openai
      kind: openai
      api_key: ${OPENAI_API_KEY}
      model: gpt-4o-mini
      rate_limit:
        input_tpm: 250000
        output_tpm: 250000
        max_retries: 5
        base_delay: 10ms
agents:
    - name: coder
      description: A code expert
      instructions: You are a coding enginering expert that helps with designing, planning and coding software solutions.
      provider: grok
      options:
        max_iterations: 1000
        max_delegation_depth: 4
    - name: planner
      description: A planning expert
      instructions: You are a planning expert. You are able to plan software solutions. You are able to use the tools provided to you to plan software solutions.
      provider: anthropic
      options:
        max_iterations: 1000
        max_delegation_depth: 4
    - name: assistant
      description: A helpful assistant
      instructions: You are a helpful assistant. You are able to help with the user's questions. You are able to use the tools provided to you to help with the user's questions.
      provider: anthropic
      options:
        max_iterations: 1000
        max_delegation_depth: 4
    - name: code_reviewer
      description: A code reviewer
      instructions: You are a code reviewer. You are able to review code and provide feedback. You are able to use the tools provided to you to review code and provide feedback.
      provider: anthropic
      options:
        max_iterations: 1000
        max_delegation_depth: 4
entry_agent: assistant
filesystem:
    enabled: true
exec:
    enabled: true
search:
    enabled: true
git:
    enabled: true
http:
    enabled: true
state_enabled: true
tasks_enabled: true
