providers:
    - name: grok
      kind: grok
      api_key: ${GROK_API_KEY}
      model: grok-code-fast-1
agents:
    - name: coder
      description: A code expert
      instructions: You are a coding enginering expert that helps with designing, planning and coding software solutions.
      provider: grok
      options:
        max_iterations: 1000
        max_delegation_depth: 4
entry_agent: coder
filesystem:
    enabled: true
exec:
    enabled: true
search:
    enabled: true
git:
    enabled: true
http:
    enabled: true
state_enabled: true
tasks_enabled: true
